div.navbar.navbar-inverse
    div.container
        p.muted.credit 
            small
                | Kontakt:
                br
                | Kay Odenthal, 51069 Köln, Kay.Odenthal@googlemail.com 

           




