div.row
  each magazine in magazines
      each genre in magazine.genres
          div.col-md-3.col-sm-6
              img(src=""+genre.magazineLogo, style="height:50px;width:auto;")
              table.table.table-striped.table-condensed
                  thead
                    tr
                      th Platz
                      th=genre.name
                  tbody
                    tr
                      each book, index in genre.books
                          tr
                            td
                              span.badge=index+1
                            td
                              table
                                tbody
                                  tr
                                    td
                                      img(style="height:100px;width:65px;", src=""+book.image)
                                    td(style="padding-left: 10px;")
                                      a(href=""+book.URL, style="color:black;")
                                          strong
                                              u=book.title
                                              br
                                      small=book.autor 
                            
