doctype html
html(lang="en")
    head
        title FOCUS und SPIEGEL Bestsellerlisten
        meta(name="description" content="Alle Bestseller der Genres Sachbuch und Belletristik.")
        meta(name="keywords" content="Focus,Spiegel,Buch,Bücher,Bestseller,Bestsellerlisten,Sachbuch,Belletristik")
        meta(name="author" content="Kay Odenthal")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
        script(src="/js/index.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        body
            div.container-fluid
                include ./navbar.jade
                p(style="text-align:center;") Alle aktuellen 
                    strong SPIEGEL
                    | und 
                    strong FOCUS 
                    | Bestseller der Genres 
                    strong Sachbuch 
                    | und 
                    strong Belletristik 
                    | im Überblick.
                include ./genre-tables.jade
                include ./footer.jade
                
                
            
            

           